/* inserimento sfondo*/

#container { background-color: #D5D6BE   }

/* inserimento sfondo div poesie*/
#poesie { background-color: #ffffff  }

/* inserimento sfondo h1*/
h1 {font-style: "CenturyGothic" ;}

/* inserimento sfondo  hr*/
hr.line1 {border-style: solid;}
hr.line1 {border-color: #870303;}
hr.line1 {border-width: 4px;}

/* inserimento font h2*/
h2 {font-style: "CenturyGothic" ; }
h2 { font-size: 10pt;  }

/* inserimento font p*/
p { font-style: "Tahoma"; }
p { font-size: 10pt;  }
p { text-align: left; }

/* inserimento font SHEOA*/
b.SHEOA { font-style: "CenturyGothic"; }
b.SHEOA { font-size: 18pt;  }
b.SHEOA { text-indent: 15px; margin-left: 10px;}

/* inserimento font  div fonte*/
#fonte { font-style: "italic"; }
#fonte { text-align: right; }
#fonte { font-size: 8pt;  }

/*applicazione bordi*/
#container {border: 2px solid black; padding: 10px; }
#poesie {border: 1px solid transparent;margin-left: 60%; margin-top: 2%;margin-bottom: 1%; margin-right: 2%; padding: 15px ;}
#versi {border: 1px solid black;}
#fonte {border: 1px solid black;margin-top: 10px; margin-bottom: 20px;}
