/* inserimento sfondo*/

#container { background-color: #D5D6BE; background-image: url(foto.gif) ; background-repeat: no-repeat; background-position: left; background-position-x: 300px; }

/* inserimento sfondo div poesie*/
#poesie { background-color: #ffffff  }

/* inserimento sfondo h1*/
h1 {font-family: 'CenturyGothic' ;}

/* inserimento sfondo  hr*/
hr.line1 {border-style: solid;}
hr.line1 {border-color: #870303;}
hr.line1 {border-width: 4px;}

/* inserimento font h2*/
h2 {font-family: 'CenturyGothic' ; }
h2 { font-size: 10pt;  }

/* inserimento font p*/
p { font-family: Tahoma; }
p { font-size: 10pt;  }
p { text-align: left; }

/* inserimento font SHEOA*/
b.SHEOA { font-family: 'CenturyGothic'; }
b.SHEOA { font-size: 18pt;  }
b.SHEOA { text-indent: 15px; margin-left: 10px;}

/* inserimento font  div fonte*/
.pfont { font-family: 'italic'; }
.pfont { font-style: oblique; }
.pfont { text-align: right }
.pfont { font-size: 8pt;  }

/*applicazione bordi*/
#container {border: 2px solid black; padding: 10px; }
#poesie {border: 1px solid transparent;margin-left: 60%; margin-top: 2%;margin-bottom: 1%; margin-right: 2%; padding: 15px ;}
#versi {border: 1px solid black;}
#fonte {border: 1px solid black;margin-top: 10px; margin-bottom: 20px;}
